#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background: #1a1a1a;
}

/* set navbar style */
.navbar {
  /* make navbar sticky */
  position: sticky;
  top: -1px;
  z-index: 10;
  height: 80px;
  background: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  text-transform: capitalize;
  font-weight: 700;
  padding: 2rem;
}

/* set navbar logo */
.navbar-logo {
  width: 20rem;
  height: 5rem;
  object-fit: cover;
}

/* set navbar links */
.navbar-links {
  display: flex;
  list-style: none;
  padding: 0 2rem;
}

/* set navbar links */
.navbar-links a {
  margin-left: 2rem;
  font-size: 1.55rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s linear;
}

/* set navbar links hover */
.navbar-links a:hover {
  color: #ffe601;
}

/* set navbar links active */
.navbar-links a.active {
  color: #faeb67;
}

/* add mediaqueries for navbar */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 2rem;
  }
  .navbar-links {
    margin-top: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    justify-content: space-evenly;
    background: #1a1a1a;
  }
  .navbar-links a {
    margin-left: 0;
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
  height: 100vh;
  width: 100%;
  color: #fff;
  border-radius: 8px;
  background: url("./images/mainbg.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-content-title {
  font-size: 8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  position: relative;
  top: 0%;
}

/* set home-content-subtitle */
.home-content-subtitle {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  position: relative;
  top: 40%;
  /* set opacity to background */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 8px;
}

/* set home-content-btn */
.home-content-btn {
  font-size: 1.5rem;
  font-weight: 500;
  width: 20%;
  padding: 2rem 2rem;
  border: none;
  border-radius: 8px;
  background: #ffe600;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 0%;
  left: 0%;
}

/* set home-content-btn hover */
.home-content-btn:hover {
  transform: scale(1.1);
  outline: #646cff;
  background: #ecd610;
  color: #000;
}

/* set home-content-btn active */
.home-content-btn:active {
  transform: scale(0.9);
}
@media screen and (max-width: 1440px) {
  .home-content {
    padding: 0;
  }
  .home-content-title {
    font-size: 4rem;
  }
  .home-content-subtitle {
    font-size: 1.5rem;
  }
  .home-content-btn {
    font-size: 1rem;
    margin-top: 2rem;
    width: 50%;
  }
}

/* add mediaqueries for home-info */
@media screen and (max-width: 768px) {
  #home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 2rem;
  }
  .home-content {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 2rem;
    align-items: center;
    background: none;
  }
  .home-content h1 {
    font-size: 2rem;
  }
  .home-content p {
    font-size: 1.5rem;
    display: none;
  }
  .home-btn {
    font-size: 1.5rem;
  }
  #home {
    background: url("./images/mainbg.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* add mediaqueries for home-info */
@media screen and (max-width: 480px) {
  .home-content h1 {
    font-size: 2rem;
  }
  .home-content p {
    font-size: 1rem;
  }
  .home-btn {
    font-size: 1rem;
  }
}

/* classes-card section */

/* set 4 images in flex */
.classes-heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background: #ffe601;
  opacity: 1;
  color: #000;
  padding: 3rem;
  border-radius: 8px;
}

.classes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.classes-card {
  flex-basis: 20rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  background: #ffe600;
  color: #000;
  padding: 1rem;
  border-radius: 8px;
}

.classes-img {
  width: 400px;
  height: 300px;
  display: flex;
  object-fit: cover;
  border-radius: 8px;
  transition: all 0.6s ease-in-out;
  position: relative;
  top: 0%;
}
.classes-name {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  position: relative;
  top: 0%;
}
.classes-desc {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  position: relative;
  top: 0%;
}

.classes-img:hover {
  transform: scale(1.1);
  outline: #646cff;
  top: -10%;
}
.check-classes {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  width: 80%;
  padding: 2rem 2rem;
  border: none;
  border-radius: 8px;
  background: #ffe600;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 20%;
  margin: auto;
  /* left: 10%; */
}
.check-classes:hover {
  transform: scale(1.1);
  outline: #646cff;
  background: #ecd610;
  color: #000;
}

/* set classes responsive */
@media screen and (max-width: 768px) and {
  .classes-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  .classes-card p {
    font-size: 1.5rem;
    display: none;
  }
  .classes-btn {
    font-size: 1.5rem;
  }

  /* add responsive for 480px and 320px */
  /* .classes-card {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 4rem;
    align-items: center;
    background: none;
    padding: 0;
  }
  .classes-card h1 {
    font-size: 2rem;
  }
  .classes-card p {
    font-size: 1.5rem;
    display: none;
  }
  

  .classes-heading {
    font-size: 2rem;
  }
  
  .classes-name {
    font-size: 1.5rem;
    color: #000;
    background: #ffe601;
  } */
}

/* about-info */
.about-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.about-content {
  flex-basis: 30%;
  margin-bottom: 2rem;
  border-radius: 8px;
  color: #fff;
  padding: 3rem 1rem;
  border-radius: 8px;
  position: relative;
}

.about-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  position: relative;
  top: 0%;
  left: 30%;
  color: #ffe601;
}

.about-content p {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  line-height: 2;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  position: relative;
  top: 0%;
  left: 30%;
}

.about-img {
  width: 50%;
  display: flex;
  object-fit: cover;
  border-radius: 8px;
  transition: all 0.6s ease-in-out;
  top: 0%;
}

.about-img:hover {
  transform: scale(1.1);
  outline: #646cff;
  top: -10%;
}

.about-btn {
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
  padding: 2rem 2rem;
  border: none;
  border-radius: 8px;
  background: #ffe600;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 20%;
  left: 30%;
}
.about-btn:hover {
  transform: scale(1.1);
  outline: #646cff;
  background: #ecd610;
  color: #000;
}

/* set about responsive */
@media screen and (max-width: 768px) {
  .about-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 2rem;
  }
  .about-content {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 4rem;
    align-items: center;
    background: none;
    padding: 0;
  }
  .about-content h1 {
    font-size: 2rem;
    left: 0;
    text-align: center;
  }
  .about-content p {
    font-size: 1.5rem;
    /* display: none; */
    left: 0;
  }
  .about-btn {
    font-size: 1.5rem;
    left: 0;
  }

  .about-heading {
    font-size: 2rem;
    text-align: left;
  }
  .about-img {
    width: 100%;
    height: 100%;
    /* display: none; */
  }
  .about-name {
    font-size: 1.5rem;
    color: #000;
    background: #ffe601;
  }
}

/* footer */
.footer-top {
  background: #fff;
  color: #000;
  padding: 10rem 5rem;
  text-align: left;
}
.footer-top h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 4rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  position: relative;
  top: 0%;
  left: 0%;
  color: #000;
}
.footer-btn {
  font-size: 1.5rem;
  font-weight: 500;
  width: 20%;
  padding: 2rem 2rem;
  border: none;
  border-radius: 8px;
  background: #ffe600;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 0%;
  left: 0%;
}
.footer-btn:hover {
  transform: scale(1.1);
  outline: #646cff;
  background: #ecd610;
  color: #000;
}

/* set footer-top responsive */
@media screen and (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 2rem;
  }
  .footer-top h1 {
    font-size: 2rem;
  }
  .footer-btn {
    font-size: 1.5rem;
    width: 100%;
  }
}
/* footer-bottom */

.footer-bottom {
  background: #000;
  color: #fff;
  padding: 2rem 5rem;
  text-align: center;
}
.footer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  text-align: left;
  padding: 4rem 0;
}
.footer-bottom h3 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 2rem;
  padding: 3rem 0;
  line-height: 3;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #fff;
}
.footer-bottom p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  line-height: 1;
  text-transform: capitalize;
  position: relative;
  top: 0%;
  left: 0%;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .footer-item {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding: 2rem;
  }
  .footer-bottom {
    padding: 0rem;
  }
  .footer-bottom h3 {
    font-size: 2rem;
  }
  .footer-bottom p {
    font-size: 1.5rem;
  }
}

/* footer-socials */
.footer-socials {
  background: #000;
  color: #fff;
  text-align: left;
}
.footer-socials h3 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 3;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #fff;
}

.footer-socials-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
  text-align: left;
  font-size: 5rem;
}
.footer-socials-icons i {
  margin-right: 3rem;
  color: #fff;
}
.footer-socials-icons i:hover {
  color: #ffe600;
}

@media screen and (max-width: 768px) {
  .footer-socials {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 2rem;
  }
  .footer-socials h3 {
    font-size: 2rem;
  }
  .footer-socials-icons {
    font-size: 3rem;
  }
}
